---
layout: default
---
<section id='me'>
    <h2 style="text-align:center">I'm a software developer.</h2>
    <div style="text-align:center">
        <nav>
            <ul>
                <li>
                    <a class="social2" href="https://github.com/{{ site.github_username }}" target="_blank">
                        <img class="scale-with-grid hov" src="{{ "/images/social/github.png" | prepend: site.baseurl }}" alt="">
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div>
        <br>
        My interests include Embedded Systems, Computer Security,
        <a href="https://lewery.ca/automation">Automation</a>,
        and <a href="https://www.napoleonvswellington.org">Nautical History</a>.
        <br>
    </div>
    <div>
        <h2>
            <a id='current' href='#current' aria-hidden="true"></a>
            Recent Projects:
        </h2>
        <ul>
            {% for item in site.data.projects.projects %}
                {% for prj in item.subprojects %}
                    {% if prj.frontpage == true %}
                        <li>
                            <p>
                                <a href="{{ prj.url }}">{{ prj.description}}</a>
                            </p>
                        </li>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
</section>
